# Node modules
node_modules/

# Environment variables
.env

# Logs
logs/
*.log

# Dependency directories
jspm_packages/

# OS-specific files
.DS_Store
Thumbs.db

# npm
package-lock.json
npm-debug.log*

# IDE specific files
.vscode/
.idea/
.project
.classpath
.settings/
*.sublime-project
*.sublime-workspace

# Misc
.history
*.swp
.coverage
.nyc_output
coverage/
